*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    width: 100%;
    height: 800px;  
}

.card{
    border: 1px inset;
    box-shadow: 2px 2px 10px #666;
    padding: 1em;
    width: 25%;
    margin: 5em auto;
}

img{
    
    width: 40%;
    display: block;
    margin: 1em auto;
}

h1{
    font-size: 1.5em;
    color: rgb(111, 111, 112);
    text-align: center;
}

.container-input{
    display: flex;
    flex-direction: column;
}

.container-input input{
    margin: 0px auto;
}

.input-email{
    height: 4em;
    font-size: 1em;
    width: 90%;
    border: 2px solid rgb(196, 196, 202);
    font-size: 1em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: transparent;
}

.input-password{
    height: 4em;
    width: 90%;
    border: 2px solid rgb(196, 196, 202);
    font-size: 1em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.entrar{
    font-weight: bold;
    height: 4em;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 0.8em;
    width: 89%;
    background-color: #142a5a;
    display: block;
    margin: 2em auto;
}

.entrar:hover{
    cursor: pointer;
    background-color: gray;
    transition-delay: 90ms;
}

.olvidar:hover{
    cursor: pointer;
    background-color: grey;
    transition-delay: 90ms;
}

.olvidar{
    font-weight: bold;
    height: 2em;
    width: 12em;
    display: block;
    margin: 3em auto;
    border-radius: 2em;
    border: 1px solid rgb(196, 196, 202);
    background-color: transparent;
}


input::-webkit-input-placeholder {
    color: rgb(160, 158, 158);
    padding: 1.2em;
    font-weight: bold;
}